{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}">

</head>

<body>
    <h1>Welcome to Inventory</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, nam atque consequatur tempore voluptatum
        dignissimos!</p>




    <script src="{% static 'js/script.js' %}"></script>
    <img src="{% static 'images/doggy123.jpg' %}" alt="Logo">
</body>

</html>