{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static 'styles/authApp_styles.css' %}">
</head>

<body>
    <header class="container">
        <h1>Logout</h1>
    </header>
    <main class="container">
        <p>Are you sure you want to logout?</p>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
            <a href="{% url 'home' %}">Cancel</a>
        </form>

    </main>



    <footer>
        <p>&copy; 2025 Maz</p>
    </footer>
</body>

</html>