{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/authApp_styles.css' %}">
</head>
<body>
    <header class="container">
        <h1>Register</h1>
    </header>
    <main class="container">
        <form action="{% url "register" %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Maz</p>
    </footer>
</body>
</html>