{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" href="{% static 'styles/authApp_styles.css' %}">
</head>

<body>
    <header class="container">
        <h1>Protected Page</h1>
    </header>
    <main class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis magnam quaerat veritatis? At, libero maiores
            adipisci reprehenderit dolorum ipsum repudiandae?</p>
        <a href="{% url 'home' %}">Homepage</a>
    </main>



    <footer>
        <p>&copy; 2025 Maz</p>
    </footer>
</body>

</html>